# Environnement virtuel
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Base de données
db.sqlite3

# Variables d'environnement
.env

# Fichiers IDE
.vscode/
.idea/

# Logs
*.log

# Médias et fichiers temporaires
media/
*.tmp

# OS
.DS_Store
Thumbs.dbgit 